<p id="notice"><%= notice %></p>

<p>
  <strong>Employee name:</strong>
  <%= @employee.employee_name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
